*{
    box-sizing: border-box;
    margin: 0;
    
    
    }
    
    
    .bage{
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
         background-image: url("green-slate_1205-377.jpg");
         background-repeat: no-repeat;
         background-size: cover;
    }
        
    
    
        .box{
            width: 33%;
            height: 50%;
            background-color: #00000052;
            border-radius:20px;
            display: flex;
    flex-direction: column;
    justify-content: space-between;
        }
    
        .addbox{
            width: 100%;
        height: auto;
        margin: 11px 0px 7px 25px;
        }


        form{
            width: 90%;
            margin: auto;
        }

::placeholder{
    color: beige;
}

[type="text"]:focus{
    background-color:#e4f4e5;
    color: #49ad4d;
}

       [type="text"]{

        width: 33%;
        margin-right: 2%;
        outline: none;
        border: none;
        /* background-color: red; */
        background-color: #49ad4d;
        color: black;
        height: 20px;
        border-radius: 20px;
        text-align: center;
        }

        [type="submit"]{
            width: 20%;
            width: 20%;
            border-radius: 20px;
            background-color:#e4f4e5;
            color: #49ad4d;
        }
        [type="submit"]:hover{
            background-color: #49ad4d;
            color:#e4f4e5
        }

    .footer{
        display: flex;
        justify-content: space-around;
        margin-bottom: 6px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Sue Ellen Francisco', cursive;

        }

        .footer a{
            text-decoration: none;
            color: white
        }

        .listbox{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;
            align-items: center;
            color: white;
            background-color: #00614dab;
        }


        .listbox div {
            display: flex;
            justify-content: space-between;
            width: 200px;
            text-align: start;
        }


        @media (max-width: 280px) 
        {
            .box {
                width: 90%
            }

           
            [type="text"],[type="submit"]
            {font-size: 9px;}

            .footer{
                font-size:10px
            }
        }

        @media (min-width:280px) and (max-width: 512px) 
        {
            .box {
                width: 90%
            }

           
            [type="text"],[type="submit"]
            {font-size: 9px;}

            .footer{
                font-size:10px
            }
        }

        @media (min-width:513px) and (max-width:1130px) 
        {
        
.box{
    width: 80%;

}
           
            [type="text"],[type="submit"]
            {font-size: 12px;}

            .footer{
                font-size:10px
            }
        }